.log{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/1226398/pexels-photo-1226398.jpeg?auto=compress&cs=tinysrgb&w=1600");
}
.oo{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/1226398/pexels-photo-1226398.jpeg?auto=compress&cs=tinysrgb&w=1600");
    filter: blur(px);
}
.wrapper{
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    
}

.lk{
    
}
.head{

    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    color: #000000;
  
}
.login-container{
    background-color: rgba(27, 238, 139, 0.548);
    backface-visibility: inherit;

    -webkit-backdrop-filter: blur(50%);
    border: none;
    border-radius: 3%;
    margin-left: 40%;
    width: 20%;
    height: 33%;
    margin-top: 13%;
    
    
}
.reg-container{
    background-color: rgba(27, 238, 139, 0.548);
    backface-visibility: inherit;
    
    -webkit-backdrop-filter: blur(50%);
    border: none;
    border-radius: 3%;
    margin-left: 7%;
    width: 25%;
    height: 55%;
    margin-top: 8%;

}
.innput-field{
    font-size: 15px;
    background: rgb(128, 70, 167);
    color: #fff;
    height: 60px;
    width: 70%;
    padding: 0 10px 0 45px;
    border: none;
    margin: 10px;
    margin-left: 14%;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}
.pla{
    margin-right: 14%;
}
.plac{
    margin-right: 25%;
}
.input-field{
    font-size: 15px;
    background: rgb(128, 70, 167);
    color: #fff;
    height: 60px;
    width: 70%;
    padding: 0 10px 0 45px;
    border: none;
    margin: 10px;
    margin-left: 5%;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}
.input-field:hover, .input-field:focus{
    background: rgba(12, 107, 36, 0.25);
}
::-webkit-input-placeholder{
    color: #440606;
}

.input-box i{
    position: relative;
    top: -35px;
    left: 17px;
    color: #e70000;
}.submit{
    font-size: 15px;
    font-weight: 500;
    margin-left: 34%;
    color: black;
    height: 45px;
    width: 30%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.89);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.signup-fields{
    background-color: rgba(27, 238, 139, 0.548);
    backface-visibility: inherit;
    background-size: 10%;
    -webkit-backdrop-filter: blur(50%);
    border: none;
    border-radius: 3%;
    margin-left: 35%;
    width: 30%;
    height: 500px;
    margin-bottom: 10%;
    margin-top: 13%;
}
.submit:hover{
    background: rgb(16, 163, 16);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.bu{
    margin-bottom: %;
    margin-left: 80%;
}
.lol{
    color: rgb(255, 255, 255);
    margin: 3%;
    background-color: rgb(47, 219, 162);
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
   text-align: center;
   border-radius: 5%;
}
.Re{
    color: rgb(255, 255, 255);
    margin: 3%;
    background-color: rgb(47, 219, 162);
    text-align: center;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5%;
}
.lol:hover{
    background-color: rgb(92, 255, 201);;
}
.Re:hover{
    background-color: rgb(92, 255, 201);;
}
.he{
    color: rgb(244, 245, 247);
    font-weight: bold;
    font-size: 40px;
}